<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204142699829-ehfikv5ccms817h7o32k6ltltskc9n7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204142699829-ehfikv5ccms817h7o32k6ltltskc9n7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBeEPkGFOFG7zQKPoEcNbpwKdHUKHfPWTw</string>
	<key>GCM_SENDER_ID</key>
	<string>204142699829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eletrogama</string>
	<key>PROJECT_ID</key>
	<string>eletroposto-e9o</string>
	<key>STORAGE_BUCKET</key>
	<string>eletroposto-e9o.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204142699829:ios:2334a21e715576db3d987c</string>
</dict>
</plist>